<% if (path !== 'index.html') { -%>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='refresh' content='0; /?path=<%= path.replace("/index.html", config.root) %>' />
</head>
<body>
</body>
</html>
<% } else { -%>
<%- partial('body') -%>
<% } -%>
